<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.jihui">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="org.jihui.leanorm.App">

        <meta-data
            android:name="LEAN_DB_NAME"
            android:value="lean.db" />
        <meta-data
            android:name="LEAN_DB_VERSION"
            android:value="5" />
        <meta-data
            android:name="LEAN_MODELS"
            android:value="org.jihui.models.DanceVideo,org.jihui.models.DanceMusic" />

        <activity
            android:name="org.jihui.MockUp"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
